In [1]:
# import libraries

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# importing dataset

df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
# Overview of the dataframe
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [15]:
#Checking shape of the dataframe

df.shape

(60943, 12)

In [33]:
#checking info of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [119]:
# Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?

#df[["Area", "Y2017"]].groupby('Area').sum().sort_values(by="Y2017",ascending=True).head(7)

A17 = df[["Area", "Y2017"]].groupby('Area').sum()
A17.sort_values(by="Y2017",ascending=True).head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

In [87]:
# Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the highest sum in 2017?


AY17 = df[["Area", "Y2017"]].groupby('Area').sum()
AY17.sort_values(by="Y2017",ascending=False).head()

#1483268.23

                   Y2017
Area
Nigeria       1483268.23
Egypt          866379.92
South Africa   517590.54
Ethiopia       448683.76
Morocco        388495.36

In [97]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?

df["Y2014"].isnull().sum(), (df["Y2014"].isnull().sum()/len(df)*100).round(3)

(1589, 2.607)

In [109]:
# What is the total Protein supply quantity in Madagascar in 2015?

In [47]:
#Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?

df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [32]:
#What is the total number of unique countries in the dataset?

df.Area.nunique()

49

In [110]:
#Which year had the least correlation with â€˜Element Codeâ€™?

df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [111]:
# Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?

df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [39]:
df.Item.unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

In [115]:
#Answer the following questions based on the African food production dataset provided by the FAO website already provided
#What is the total sum of Wine produced in 2015 and 2018 respectively?

df.groupby('Item')['Y2015'].sum(), df.groupby('Item')['Y2018'].sum()

(Item
 Alcohol, Non-Food        2180.00
 Alcoholic Beverages     98783.72
 Animal Products         11811.73
 Animal fats            200675.72
 Apples and products     10559.15
                          ...
 Vegetables, Other      158104.08
 Vegetal Products       107064.17
 Wheat and products     234710.51
 Wine                     4251.81
 Yams                   203151.78
 Name: Y2015, Length: 119, dtype: float64,
 Item
 Alcohol, Non-Food        2293.00
 Alcoholic Beverages     97847.27
 Animal Products         11578.61
 Animal fats            269648.27
 Apples and products      9640.51
                          ...
 Vegetables, Other      163987.21
 Vegetal Products       107775.39
 Wheat and products     242645.19
 Wine                     4039.32
 Yams                   221272.09
 Name: Y2018, Length: 119, dtype: float64)

In [117]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

df.describe().round(2)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.00,60943.00,60943.00,59354.00,59395.00,59408.00,59437.00,59507.00
mean,134.27,2687.18,3814.86,134.20,135.24,136.56,140.92,143.76
std,72.61,146.06,2212.01,1567.66,1603.40,1640.01,1671.86,1710.78
min,4.00,2501.00,511.00,-1796.00,-3161.00,-3225.00,-1582.00,-3396.00
25%,74.00,2562.00,684.00,0.00,0.00,0.00,0.00,0.00
50%,136.00,2630.00,5142.00,0.09,0.08,0.08,0.10,0.07
75%,195.00,2775.00,5511.00,8.34,8.46,8.43,9.00,9.00
max,276.00,2961.00,5911.00,176405.00,181137.00,185960.00,190873.00,195875.00